<div class="container-fluid bg-dark text-white py-4">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-6 text-center text-md-start">
                <span>
                    &copy; 2025 <strong class="text-primary">KaganCevik Software</strong>. Tüm Hakları Saklıdır.
                </span>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <span>
                    Tasarım ve Geliştirme: <a href="https://www.linkedin.com/in/kağan-çevik-95b114331/" class="text-white text-decoration-underline">Kağan Çevik</a>
                </span>
            </div>
        </div>
    </div>
</div>
